extras/NodeRed/ButtonToPush.txt
[{"id":"7379b4eb.8c864c","type":"mqtt-broker","broker":"192.168.77.1","port":"1883","clientid":""},{"id":"6845e16.f97ba2","type":"mqtt in","name":"Button","topic":"ESPert/14346256/Button","broker":"7379b4eb.8c864c","x":64,"y":76,"z":"1d02aec6.e2fd51","wires":[["e0f8f37c.1f071"]]},{"id":"ecb3599d.134ca8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":510,"y":37,"z":"1d02aec6.e2fd51","wires":[]},{"id":"e0f8f37c.1f071","type":"function","name":"ButtonValue","func":"var v = JSON.parse(msg.payload)\n\nmyMsg = {}\nvar b = parseInt(v.button)\nif( b == 1 ) {\n    push_message = \"The button was pressed at NDC.\"\n    myMsg.payload = \"http://www.espert.io/apn/send?key=6323770260193280&message=\"+push_message;\n    myMsg.url = myMsg.payload;\n}\n\nreturn myMsg;","outputs":1,"noerr":0,"x":277,"y":155,"z":"1d02aec6.e2fd51","wires":[["808ada09.7f7528","ecb3599d.134ca8"]]},{"id":"808ada09.7f7528","type":"http request","name":"Push","method":"GET","ret":"txt","url":"","x":518,"y":349,"z":"1d02aec6.e2fd51","wires":[[]]}]